{% load static lucide %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>RosterChief - Control Panel</title>

        <script>
            (() => {
                const stored = localStorage.getItem('theme');
                if (stored) document.documentElement.setAttribute("data-theme", stored);
            })();
        </script>

        <style>
            :root {
                --logo-light: url("{% static "images/rosterchief-white.svg" %}");
                --logo-dark: url("{% static "images/rosterchief-black.svg" %}");
            }
        </style>

        <link rel="stylesheet" href="{% static 'css/app.css' %}"/>

        {% block extra %}{% endblock extra %}
    </head>

    <body class="min-h-screen bg-base-200">
        {% block main %}{% endblock main %}
    </body>
</html>